<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
		<a href=""><img class="badge" src="assets/img/logo.png"></a>
		<a href="assets/pdf/mahowald_academic.pdf">CV</a>
                <a href="https://osf.io/dvyq6">OSF</a>
                		<a href="http://www.xwordinfo.com/Thumbs?author=Kyle+Mahowald">Xword</a>
                                <a href="mailto:kylemaho@mit.edu"><span class="icon-mail"></span></a>  <a href="http://www.twitter.com/kmahowald"><span class="icon-twitter"></span></a>
	</nav>
</header>
